<!DOCTYPE html>
{% load bootstrap4 %}
{% load i18n %}

{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Менеджер задач</title>
</head>
<body>
    {% block content %}

        {% bootstrap_button "Вход" %}
        {% bootstrap_button "Регистрация" %}
        {% bootstrap_button "Пользователи" %}

    {% endblock %}
</body>
</html>