<!DOCTYPE html>
{% load bootstrap4 %}
{% load i18n %}

{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% trans "TaskManager" %}</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">{% trans "TaskManager" %}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a type="button" class="btn btn-link mr-auto" href="/users/">{% trans "Users" %}</a>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a type="button" class="btn my-2 my-sm-0 mr-1 btn-primary" href="/login/">{% trans "LogIn" %}</a>
                <a type="button" class="btn my-2 my-sm-0 btn-secondary" href="/users/create/">{% trans "SignUp" %}</a>
            </li>
        </ul>
    </nav>
    {% block content %}
    {% endblock %}
</body>
</html>