{% extends 'main_auth.html' %}
{% load bootstrap4 %}
{% load i18n %}

{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{% block content %}
    <div class="container">
        <h1 class="my-4">{% trans "Labels" %}</h1>
        <table class="table table-striped">
            <thead class="thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">{% trans "JustName" %}</th>
                <th scope="col">{% trans "Created" %}</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <a type="button" class="btn btn-link" href="/labels/create">{% trans "CreateLabel" %}</a>
            <tbody>
                {% for label in labels %}
                <tr>
                    <th>{{label.id}}</th>
                    <td>{{label.name}}</td>
                    <td>{{label.date_created}}</td>
                    <td>
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a href="{% url 'labels_upd' label.id %}">{% trans "Edit" %}</a>
                            </li>
                            <li>
                                <a href="{% url 'labels_dlt' label.id %}">{% trans "Delete" %}</a>
                            </li>
                        </ul>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}