{% extends 'main_auth.html' %}
{% load bootstrap4 %}
{% load i18n %}

{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{% block content %}
    <div class="container">
        <h1 class="my-4">{% trans "Tasks" %}</h1>
        <table class="table table-striped">
            <thead class="thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">{% trans "JustName" %}</th>
                <th scope="col">{% trans "Status" %}</th>
                <th scope="col">{% trans "Author" %}</th>
                <th scope="col">{% trans "Executor" %}</th>
                <th scope="col">{% trans "Created" %}</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <a type="button" class="btn btn-link" href="/tasks/create">{% trans "CreateTask" %}</a>
            <div class="card">
                <div class="card-body bg-light">
                    <form method="get">
                        {% bootstrap_form filter.form layout='horizontal' bound_css_class='' %}
                        <button type="submit" class="btn btn-primary">{% trans "Show" %}</button>
                    </form>
                </div>
            </div>
            <hr>
            <tbody>
                {% for task in filter.qs %}
                <tr>
                    <th>{{task.id}}</th>
                    <td><a href="{% url 'tasks_get' task.id %}">{{task.name}}</a></td>
                    <td>{{task.status}}</td>
                    <td>{{task.author.first_name}} {{task.author.last_name}}</td>
                    <td>{{task.executor.first_name}} {{task.executor.last_name}}</td>
                    <td>{{task.date_created}}</td>
                    <td>
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a href="{% url 'tasks_upd' task.id %}">{% trans "Edit" %}</a>
                            </li>
                            <li>
                                <a href="{% url 'tasks_dlt' task.id %}">{% trans "Delete" %}</a>
                            </li>
                        </ul>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}